.myNav{
  display: block;
  height: 50px;
  line-height: 5px;
  background-color: lightgray;
}
.myNav ul{
  list-style: none;
  padding: 0px;
  margin: 2px;
  padding: 2px;
}
.myNav li{
  float: left;
}
.myNav li a{
  font-weight: 500;
  font-size: x-large;
  font-style: inherit;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  color: black;
}
#search{
  width: 700px;
  height: 30px;
  text-align: center;
  padding-bottom: 35px;
}
.dropdown{
  display: inline-block;
  text-align: center;
}
#col{
  height: 300px;
  width: 400px;
}
h6{
  font-weight: 700;
}
h3{
  text-align: center;
  font-weight: 600;
}
h6{
  text-align: center;
}
#cat1{
  height: 200px;
  width: 310px;
  display: block;
  position: relative;
}
a{
  cursor: pointer;
  color: #666;
}
#bsp{
  height: 170px;
  width: 200px;
}
.row{
  text-align: center;
}
.under{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}
#price{
  color: red;
}
#bsp15{
  width: 600px;
}
.product{
  text-align: center;
  font-weight: 500;
}
.footer{
  background-color: #1b1a1b;
  color: white;
  text-align: center;
  border-color: #363636;
}
.ft{
  margin: 50px;
  padding: 50px;
}
h4{
  color: white;
}
#social{
  height: 40px;
    width: 40px;
    border-radius: 50%;
}

