i{
    display: inline-flex;
    font-size: 15px;
    padding: 7px;
    margin: 7px;
    box-sizing: border-box;
}
#head{
    text-align: center;
    padding: 470px;
    font-weight: 400;
    font-style: italic;
}
.nav2{
    text-align: center;
    width: 48px;
    display: inline-flex;
}